Babel
Pillow
aiogram
aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
cycler
fonttools
frozenlist
idna
imutils
kiwisolver
matplotlib
multidict
numpy
opencv-python
packaging
pandas
pip
pyparsing
python-dateutil
pytz
setuptools
six
torch
torchvision
typing-extensions
wheel
yarl